<h1> THIS PRODUCT IS THE BEST!!!!!!! </h1>

<h3><%= @product.name %></h3>
<h4>$<%= @product.price %></h4>
<h4> <%= @product.sale_message %></h4>
<h5> <%= @product.pay_tax %> </h5>
<h5> <%= @product.total_cost %> </h5>
<p> <%= @product.description %> </p>
<img src= "<%= @product.image %>" />
<!-- <h4><a href= "/products/<%= @product_id %>/edit" >Edit This Product</h4> -->
<h4><%= link_to "Edit This Product", "/products/#{@product.id}/edit" %></h4>
<h4><%= link_to "Delete This Product", "/products/#{@product.id}", method: :delete %></h4>

