<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <nav class="navbar navbar-default">
  <div id = "nav" class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">C McG</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Log Out", "/users/sign_out", method: :delete if current_user %></li>
        <li class="active"><%= link_to "Sign Up", "/users/sign_up", method: :get if ! current_user %></li>
        <li><%= link_to "Log In", "/users/sign_in", method: :get if ! current_user %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sort By <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/products?sort=price&by=low">Price: Lowest First</a></li>
            <li><a href="/products?sort=price&by=high">Price: Highest First</a></li>
            <li><a href="/products?sort=price&by=discount">Discount Items</a></li>
            <li class="divider"></li>
            <li><a href="/products?random=true">I'm Feeling Saucy</a></li>
            <li class="divider"></li>
            <li><a href="/products/new">Create New Product</a></li>
          </ul>
        </li>
      </ul>
      <%= form_tag "/products/search", method: :post, class: "navbar-form navbar-right", role: "search" do%>
       <div class="form-group">
         <%= text_field_tag :search, "Look me up, babe", class: "form_control" %>
       </div>
       <%= submit_tag "Search", class: "btn btn-default", type: "submit" %> 
     <%end%>
      <ul class="nav navbar-nav navbar-right"> 
        <li><a href="/cart">Cart</a></li>
        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Filter Items<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          <% Category.all.each do |category| %>
            <li><a href="/products?category=<%= category.name %>"><%= category.name %></a></li>

          <% end %>  
           <!--  <li><a href="/products?category=apparel">Apparel</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li> -->
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>  

<div class="container">

  <% flash.each do |name, message| %>
   <div id = "message" class="alert alert-<%= name %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= message %>
  </div>
  <% end %> 


  <%= yield %>

</div>
</body>
</html>
